@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SODIG | BIOMÉTRICO_APP</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="m-0 h-screen w-screen">
<!--Contenedor-->
<div class="bg-white flex flex-col md:flex-row">
    <div class="md:w-1/2 h-screen bg-red">
        
    </div>
    <div class="w-1/2 h-scree bg-white shadow-lg">
        
    </div>
</div>
</body>
</html>